@charset "UTF-8";

/* Base */
html { font-family: "Ropa Sans", sans-serif; font-size: 16px; line-height: 1.5; }
body { background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); min-width: 960px; padding-top: 0px; }
h1, h2, h3, p, ul { margin: 0; }
h2 {color:rgb(175, 24, 24); text-align: center;font-size: 40px;}
ul { padding-left: 0; }
ul li { list-style-type: none; }
a { color: inherit; text-decoration: none; }
img { vertical-align: middle; }
h1 {margin-bottom: 20px; }

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 238, 238);
    margin: 20px;
    padding: 40px;
    -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);
            box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);
}

div {
    padding: 10px;
    margin: 10px;
}

#image {
    text-align: center;
}

#plotimg {
    padding: 5px;
    margin-left: 100px;
    background-color: dimgray;
    -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);
}

#sample {
    margin-top: 30px;
}

#sample img {
    width: 60%
}

.NOW {
    display: none;
}

.hidden {
    visibility: hidden;
}
