<!DOCTYPE html>
<html lang='ja'>
    <head>
        <meta charset="UTF-8">
        <title>Weather Plot</title>
        <meta name='description' content='visual simulation of matplotlib'>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link rel='stylesheet' href='../static/CSS/normalize.css'>
        <link rel='stylesheet' href='../static/CSS/main.css'>
    </head>

    <body>
        <div class='container'>
            <div>
                <p>プロットするデータの種類を選んでください。
                    <select id='data_type'>
                        <option value='maxmin'>最高気温/最低気温</option>
                        <option value='rain'>降水量</option>
                    </select>
                </p>
            </div>

            <div>
                <p>プロットするデータの個数を選んでください。</p>
                <p>データの個数：<input id='data_num' type='number' min=1 max=3 value=1></p>
            </div>

            <div>
                <p>各データの観測地点を選んでください。</p>
                <p class='data1'>データ1：
                    <select id='area1'>
                        <option value='Tokyo'>東京</option>
                        <option value='Yokohama'>横浜</option>
                        <option value='Sapporo'>札幌</option>
                        <option value='Naha'>那覇</option>
                    </select>
                </p>
                <p class='data2'>データ2：
                    <select id='area2'>
                        <option value='Tokyo'>東京</option>
                        <option value='Yokohama'>横浜</option>
                        <option value='Sapporo'>札幌</option>
                        <option value='Naha'>那覇</option>
                    </select>
                </p>
                <p class='data3'>データ3：
                    <select id='area3'>
                        <option value='Tokyo'>東京</option>
                        <option value='Yokohama'>横浜</option>
                        <option value='Sapporo'>札幌</option>
                        <option value='Naha'>那覇</option>
                    </select>
                </p>
            </div>

            <div id='maxmin'>
                <div>
                    <p>データの年度を指定してください。</p>
                    <p class="data1">データ1：<input type=number min=2010 max=2019 step=1 value=2010 id='maxmin_year1'></p>
                    <p class="data2">データ2：<input type=number min=2010 max=2019 step=1 value=2011 id='maxmin_year2'></p>
                    <p class="data3">データ3：<input type=number min=2010 max=2019 step=1 value=2012 id='maxmin_year3'></p>
                </div>

                <div class='maxmin-color'>
                    <p>各データのプロットする色を選んでください。</p>
                    <p class='data1'>データ1：
                        <select id='maxmin_color1'>
                            <option value='black'>black</option>
                            <option value='lightgray'>lightgray</option>
                            <option value='rosybrown'>rosybrown</option>
                            <option value='lightcoral'>lightcoral</option>
                            <option value='firebrick'>firebrick</option>
                            <option value='maroon'>maroon</option>
                            <option value='red' selected>red</option>
                            <option value='salmon'>salmon</option>
                            <option value='orangered'>orangered</option>
                            <option value='chocolate'>chocolate</option>
                            <oprion value='darkorange'>darkorange</oprion>
                            <option value='goldenrod'>goldenrod</option>
                            <option value='olive'>olive</option>
                            <option value='chartreuse'>chartreuse</option>
                            <option value='lightgreen'>lightgreen</option>
                            <option value='green'>green</option>
                            <option value='springgreen'>springgreen</option>
                            <option value='turquoise'>turquoise</option>
                            <option value='teal'>teal</option>
                            <option value='skyblue'>skyblue</option>
                            <option value='dodgerblue'>dodgerblue</option>
                            <option value="navy">navy</option>
                            <option value='blue'>blue</option>
                            <option value='blueviolet'>blueviolet</option>
                            <option value='purple'>purple</option>
                        </select>
                    </p>
                    <p class='data2'>データ2：
                        <select id='maxmin_color2'>
                            <option value='black'>black</option>
                            <option value='lightgray'>lightgray</option>
                            <option value='rosybrown'>rosybrown</option>
                            <option value='lightcoral'>lightcoral</option>
                            <option value='firebrick'>firebrick</option>
                            <option value='maroon'>maroon</option>
                            <option value='red'>red</option>
                            <option value='salmon'>salmon</option>
                            <option value='orangered'>orangered</option>
                            <option value='chocolate'>chocolate</option>
                            <oprion value='darkorange'>darkorange</oprion>
                            <option value='goldenrod'>goldenrod</option>
                            <option value='olive'>olive</option>
                            <option value='chartreuse'>chartreuse</option>
                            <option value='lightgreen'>lightgreen</option>
                            <option value='green' selected>green</option>
                            <option value='springgreen'>springgreen</option>
                            <option value='turquoise'>turquoise</option>
                            <option value='teal'>teal</option>
                            <option value='skyblue'>skyblue</option>
                            <option value='dodgerblue'>dodgerblue</option>
                            <option value="navy">navy</option>
                            <option value='blue'>blue</option>
                            <option value='blueviolet'>blueviolet</option>
                            <option value='purple'>purple</option>
                        </select>
                    </p>
                    <p class='data3'>データ3：
                        <select id='maxmin_color3'>
                            <option value='black'>black</option>
                            <option value='lightgray'>lightgray</option>
                            <option value='rosybrown'>rosybrown</option>
                            <option value='lightcoral'>lightcoral</option>
                            <option value='firebrick'>firebrick</option>
                            <option value='maroon'>maroon</option>
                            <option value='red' selected>red</option>
                            <option value='salmon'>salmon</option>
                            <option value='orangered'>orangered</option>
                            <option value='chocolate'>chocolate</option>
                            <oprion value='darkorange'>darkorange</oprion>
                            <option value='goldenrod'>goldenrod</option>
                            <option value='olive'>olive</option>
                            <option value='chartreuse'>chartreuse</option>
                            <option value='lightgreen'>lightgreen</option>
                            <option value='green'>green</option>
                            <option value='springgreen'>springgreen</option>
                            <option value='turquoise'>turquoise</option>
                            <option value='teal'>teal</option>
                            <option value='skyblue'>skyblue</option>
                            <option value='dodgerblue'>dodgerblue</option>
                            <option value="navy">navy</option>
                            <option value='blue' selected>blue</option>
                            <option value='blueviolet'>blueviolet</option>
                            <option value='purple'>purple</option>
                        </select>
                    </p>
                </div>
                <div>
                    <p>右のボタンを押すとプロットできます。
                    <input type='button' id='maxmin_plot' value='plot'></p>
                </div>
            </div>

            <div id='rain'>
                <p>ここは降水量のパートです。</p>
                <div>
                    <p>描画する期間を選択してください。</p>
                    <p>start:
                        <input type=date id=start value="2019-01-01" min="2010-01-01" max ="2019-12-31">
                    </p>
                    <p>end:
                        <input type=date id=end value="2019-12-31" min="2010-01-01" max ="2019-12-31">
                    </p>
                </div>
                <div class='rain-color'>
                    <p>各データのプロットする色を選んでください。</p>
                    <p class='data1'>データ1：
                        <select id='rain_color1'>
                            <option value='black'>black</option>
                            <option value='lightgray'>lightgray</option>
                            <option value='rosybrown'>rosybrown</option>
                            <option value='lightcoral'>lightcoral</option>
                            <option value='firebrick'>firebrick</option>
                            <option value='maroon'>maroon</option>
                            <option value='red' selected>red</option>
                            <option value='salmon'>salmon</option>
                            <option value='orangered'>orangered</option>
                            <option value='chocolate'>chocolate</option>
                            <oprion value='darkorange'>darkorange</oprion>
                            <option value='goldenrod'>goldenrod</option>
                            <option value='olive'>olive</option>
                            <option value='chartreuse'>chartreuse</option>
                            <option value='lightgreen'>lightgreen</option>
                            <option value='green'>green</option>
                            <option value='springgreen'>springgreen</option>
                            <option value='turquoise'>turquoise</option>
                            <option value='teal'>teal</option>
                            <option value='skyblue'>skyblue</option>
                            <option value='dodgerblue'>dodgerblue</option>
                            <option value="navy">navy</option>
                            <option value='blue'>blue</option>
                            <option value='blueviolet'>blueviolet</option>
                            <option value='purple'>purple</option>
                        </select>
                    </p>
                    <p class='data2'>データ2：
                        <select id='rain_color2'>
                            <option value='black'>black</option>
                            <option value='lightgray'>lightgray</option>
                            <option value='rosybrown'>rosybrown</option>
                            <option value='lightcoral'>lightcoral</option>
                            <option value='firebrick'>firebrick</option>
                            <option value='maroon'>maroon</option>
                            <option value='red'>red</option>
                            <option value='salmon'>salmon</option>
                            <option value='orangered'>orangered</option>
                            <option value='chocolate'>chocolate</option>
                            <oprion value='darkorange'>darkorange</oprion>
                            <option value='goldenrod'>goldenrod</option>
                            <option value='olive'>olive</option>
                            <option value='chartreuse'>chartreuse</option>
                            <option value='lightgreen'>lightgreen</option>
                            <option value='green' selected>green</option>
                            <option value='springgreen'>springgreen</option>
                            <option value='turquoise'>turquoise</option>
                            <option value='teal'>teal</option>
                            <option value='skyblue'>skyblue</option>
                            <option value='dodgerblue'>dodgerblue</option>
                            <option value="navy">navy</option>
                            <option value='blue'>blue</option>
                            <option value='blueviolet'>blueviolet</option>
                            <option value='purple'>purple</option>
                        </select>
                    </p>
                    <p class='data3'>データ3：
                        <select id='rain_color3'>
                            <option value='black'>black</option>
                            <option value='lightgray'>lightgray</option>
                            <option value='rosybrown'>rosybrown</option>
                            <option value='lightcoral'>lightcoral</option>
                            <option value='firebrick'>firebrick</option>
                            <option value='maroon'>maroon</option>
                            <option value='red'>red</option>
                            <option value='salmon'>salmon</option>
                            <option value='orangered'>orangered</option>
                            <option value='chocolate'>chocolate</option>
                            <oprion value='darkorange'>darkorange</oprion>
                            <option value='goldenrod'>goldenrod</option>
                            <option value='olive'>olive</option>
                            <option value='chartreuse'>chartreuse</option>
                            <option value='lightgreen'>lightgreen</option>
                            <option value='green'>green</option>
                            <option value='springgreen'>springgreen</option>
                            <option value='turquoise'>turquoise</option>
                            <option value='teal'>teal</option>
                            <option value='skyblue'>skyblue</option>
                            <option value='dodgerblue'>dodgerblue</option>
                            <option value="navy">navy</option>
                            <option value='blue' selected>blue</option>
                            <option value='blueviolet'>blueviolet</option>
                            <option value='purple'>purple</option>
                        </select>
                    </p>
                </div>
                <div>
                    <p>右のボタンを押すとプロットできます。
                    <input type='button' id='rain_plot' value='plot'></p>
                </div>
            </div>

            <div class='image'>
                <img id='plotimg'>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="../static/JS/plot_maxmin.js"></script>
    <script type="text/javascript" src="../static/JS/plot_rain.js"></script>
    <script type="text/javascript" src="../static/JS/viewcontrol_data_type.js"></script>
    <script type="text/javascript" src="../static/JS/viewcontrol_data_num.js"></script>
</html>