<!DOCTYPE html>
<html lang='ja'>
    <head>
        <meta charset="UTF-8">
        <title>graph simulator</title>
        <meta name='description' content='visual simulation of matplotlib'>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link rel='stylesheet' href='../static/CSS/normalize.css'>
        <link rel='stylesheet' href='../static/CSS/main.css'>
    </head>

    <body>
        <div class='container'>
            Hello world!!
        </div>
    </body>
</html>